@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap");

:root {
    --young-serif: "Young Serif", serif;
    --outfit: "Outfit", sans-serif;
    --h2bold: 700;
    --bg-clr-fourth: #fff5fa;
    --Light-Grey: #e4ded8;
    --bg-clr-primary: #ffffff;
    --bg-clr-secondary: #f3e6d8;
    --bg-clr-third: #7b284f33;
    --txt-clr-primary: #000;
    --txt-clr-secondary: #5f574e;
    --txt-clr-third: #854632;
    --txt-clr-fourth: #7b284f;
    --txt-clr-fiveth: #302d2c;
}

.darkmode {
    --young-serif: "Young Serif", serif;
    --outfit: "Outfit", sans-serif;
    --h2bold: 700;
    --bg-clr-fourth: #fff5fa;
    --Light-Grey: #e4ded8;
    --bg-clr-primary: #1d1b19;
    --bg-clr-secondary: #0a2412;
    --bg-clr-third: #ff007733;
    --txt-clr-primary: #fff;
    --txt-clr-secondary: #e9b67c;
    --txt-clr-third: #e79982;
    --txt-clr-fourth: #ff077b;
    --txt-clr-fiveth: #ad9e99;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-clr-primary);
}

.box {
    margin: 50px auto;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.box::before {
    content: "";
    position: absolute;
    background: linear-gradient(to top right, aqua, aquamarine, blue, purple);
    width: 80%;
    height: 130%;
    z-index: -1;
    transform: rotate(25deg);
}

.box:hover::before {
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container {
    width: 800px;
    background-color: var(--bg-clr-secondary);
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}

.content {
    position: relative;
}

.content #toggle-darkmode {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.content #toggle-darkmode img {
    transition: transform 0.5s ease-in-out;
}

.content #toggle-darkmode .sun {
    background-color: #5f574e;
}

.content #toggle-darkmode .moon {
    background-color: #000;
    padding: 0 0 1.5px 0;
}

.content #toggle-darkmode.active img {
    transform: translateY(-110%);
}

.container .content hr {
    margin-top: 20px;
}

.container .heading img {
    width: 100%;
    border-radius: 10px;
}

.container .content h1 {
    font-weight: 400;
    margin: 10px 0;
    font-family: var(--young-serif);
    color: var(--txt-clr-primary);
}

.container .content p {
    font-family: var(--outfit);
    font-weight: 400;
    color: var(--txt-clr-secondary);
    margin: 10px 0;
}

.container .content h2 {
    color: var(--txt-clr-third);
    font-weight: 700;
    margin: 20px 0;
}

.preparation {
    background-color: var(--bg-clr-third);
    padding: 20px;
    border-radius: 15px;
    color: var(--txt-clr-secondary);
}

.preparation h3 {
    color: var(--txt-clr-fourth);
    padding-bottom: 10px;
}

.container .content ul {
    padding-left: 20px;
    font-size: 0.9rem;
}

.container .content ul li {
    color: var(--txt-clr-fourth);
    margin: 5px 0;
}

.preparation ul li p {
    color: var(--txt-clr-secondary);
}

.content ul li p span {
    color: var(--txt-clr-fiveth);
    font-weight: 600;
}

.container .content ul li p {
    margin-left: 10px;
}

.instruction ul li {
    list-style-type: decimal;
    font-weight: bold;
}

.Nutrition .tabel {
    margin-top: 30px;
}

.Nutrition .tabel ul {
    width: 100%;
}

.Nutrition .tabel ul li {
    list-style: none;
    margin-bottom: 20px;
    position: relative;
}

.Nutrition .tabel ul .garis::before {
    content: "";
    position: absolute;
    left: -20px;
    right: 0;
    height: 1px;
    bottom: -10px;
    background-color: var(--bg-clr-fourth);
}

.Nutrition .tabel ul li p {
    display: flex;
}

.Nutrition .tabel ul li p span:first-child {
    color: var(--txt-clr-secondary);
}

.Nutrition .tabel ul li p span {
    display: flex;
    width: 50%;
    color: var(--txt-clr-third);
}

@media (max-width: 800px) {
    * {
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    body {
        background-color: var(--bg-clr-primary);
    }

    .box {
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    .container {
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 0;
    }

    .container .heading img {
        border-radius: 0;
        width: 100%;
    }

    .container .content {
        margin: 20px;
    }

    .content #toggle-darkmode {
        top: -20px;
        right: -15px;
    }
}
